<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 960px;
        }
        .mt-4 {
            padding-bottom: 20px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="mt-4">Congregational Data Analysis and Visualization: A Comprehensive Report</h1>
    <div id="markdownContent"></div>
</div>

<script>
    function goBack() {
        window.history.back();
    }

// Fetch Markdown file
fetch('/static/report.md')
    .then(response => response.text())
    .then(markdown => {
        var converter = new showdown.Converter();
        var html = converter.makeHtml(markdown);
        document.getElementById('markdownContent').innerHTML = html;
    })
    .catch(error => console.error('Error fetching Markdown:', error));


</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
